.bio-displays {
    display: grid;
    gap: 1em;
}

.bio-display {
    text-align: center;

    .bio-title {
        font-size: 2.25em;
    }

    .bio-img-holder {
        display: flex;
        justify-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 1.5em;
        height: 375px;
        width: 250px;
        border-radius: 20px;
        border: 4px solid;
        overflow: hidden;

        &.peter-side {
            border-color: var(--secondary-color);
        }

        &.maddy-side {
            border-color: var(--primary-color);
        }
    }

    .bio-subtitle {
        font-size: 1.75em;
        margin-bottom: .75em;
    }
}