@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Satisfy&display=swap');


$theme-colors: (
    "primary": #824C4C,
    "danger": teal
);

@import "~bootstrap/scss/bootstrap";

:root {
    --white: #f6f8f8;
    --light-accent: #f1bb93;
    --dark-accent: #818BC5;
    --primary-color: #824C4C;
    --secondary-color: #4c6782;
    --success-color: #5c914f;
    --warning-color: #da8117;
    --danger-color: #f44336;

    --fancy-font: 'Satisfy', cursive;
    --standard-font: 'Josefin Slab', serif;
}

body {
  margin: 0;
  font-family: var(--standard-font);
  background-color: var(--secondary-color);
}

main {
  margin: auto;
  max-width: 1000px;
}

/* Bootstrap Overrides */
.navbar {
  --bs-border-width: 2px;
  --bs-navbar-nav-link-padding-x: 1rem;
  background-color: var(--primary-color);
}

.navbar-nav {
  --bs-nav-link-color: var(--white);
  --bs-nav-link-hover-color: var(--light-accent);
}

.navbar-nav .nav-item {
  font-size: 1.5rem;
}

.card {
  margin: 1.5rem;
}

.card-text {
  font-weight: bold;
}
